backGradient(type, from, to)
  background-image -webkit-linear-gradient(type, from, to)
  background-image -moz-linear-gradient(type, from, to)
  background-image -ms-linear-gradient(type, from, to)
  background-image -o-linear-gradient(type, from, to)
  background-image linear-gradient(type, from, to)

transition(prop, time)
  transition prop time
  -moz-transition prop time
  -webkit-transition prop time
  -o-transition prop time

transform(trans)
  transform trans
  -moz-transform trans
  -webkit-transform trans
  -o-transform trans